/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
.group {
  zoom: 1;
}
.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
body {
  padding: 0;
  margin: 0;
  font-family: arial, sans-serif;
  font-size: 13px;
  line-height: 1.3;
}
img {
  max-width: 100%;
}
.page-header {
  border-bottom: 10px solid #333;
  background: #b3b4b9 url('images/header-bg.jpg') center top no-repeat;
  position: relative;
}
.page-header nav {
  position: relative;
}
.page-header nav .reliability-badge {
  position: absolute;
  z-index: 1;
  margin-top: 15px;
}
.hero-image {
  width: 100%;
}
.content-wrapper {
  max-width: 800px;
  margin: 0 auto;
  position: relative;
}
/* main nav */
.main-nav {
  max-width: 900px;
  margin: 0 auto;
  min-height: 158px;
  padding: 0 15px;
}
.main-nav .logo {
  margin: 0 auto;
  text-align: center;
  background: transparent url('images/logo.png') center center no-repeat;
  width: 272px;
  height: 120px;
  position: absolute;
  top: 25px;
  left: 0;
  right: 0;
}
.main-nav .logo span {
  display: block;
  text-indent: -9999px;
}
.full-menu {
  margin: 0 0 2px 0;
  padding: 3em 0 0 0;
  list-style: none outside;
  zoom: 1;
}
.full-menu:before,
.full-menu:after {
  content: "";
  display: table;
}
.full-menu:after {
  clear: both;
}
.full-menu > li {
  float: left;
  margin: 0 2px 0 0;
  position: relative;
}
.full-menu > li a {
  color: #fff;
  line-height: 35px;
  display: block;
  padding: 0 15px;
  font-size: 13px;
  text-decoration: none;
  vertical-align: middle;
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
.full-menu > li.search {
  float: right;
  margin: 0;
  background: #fff none;
}
.full-menu > li.search .mobile-search {
  display: none;
}
.full-menu > li.search .form-group {
  padding: 3px;
  float: left;
}
.full-menu > li.search .form-group label {
  display: none;
}
.full-menu > li.search input[type=text] {
  line-height: 26px;
  height: 26px;
  padding: 0 5px;
  font-size: 11px;
}
.full-menu > li.search input[type=image] {
  display: block;
}
.full-menu > li.main-menu > a {
  background: #45484e;
}
.full-menu > li.main-menu > a:before {
  font-family: FontAwesome;
  content: "\f0c9";
  font-size: 22px;
  vertical-align: middle;
  margin-right: 10px;
  float: left;
}
.full-menu > li.main-menu > a:hover {
  background: #2a2c30;
}
.full-menu > li.support {
  background: #202227;
}
.full-menu > li.support:hover {
  background: #000;
}
.full-menu > li.video {
  background: #22c000;
  position: relative;
}
.full-menu > li.video a:before {
  font-family: FontAwesome;
  content: "\f01d";
  font-size: 22px;
  vertical-align: middle;
  margin-right: 10px;
  float: left;
}
.full-menu > li.video a:hover {
  background: #1c9f00;
}
.full-menu > li li {
  position: relative;
}
.full-menu > li > ul {
  background: #45484e;
  list-style: none outside;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 37px;
  z-index: 10;
  min-width: 262px;
}
.full-menu > li > ul li {
  float: none;
  border-bottom: 1px solid #595c62;
}
.full-menu > li > ul li a {
  line-height: 1.2;
  padding: 20px 13px;
}
.full-menu > li > ul li a:hover {
  background: #2a2c30;
}
.full-menu > li > ul li span {
  display: block;
  line-height: 1;
  font-size: 11px;
  color: #999;
}
.full-menu > li > ul li.has-child > a {
  position: relative;
}
.full-menu > li > ul li.has-child > a:after {
  content: "\f067";
  font-family: FontAwesome;
  position: absolute;
  top: 50%;
  font-size: 12px;
  margin-top: -6px;
  right: 15px;
  font-weight: normal;
}
.full-menu > li > ul li.has-child ul {
  background: #e6e6e9;
  margin: 0;
  padding: 0;
  list-style: none outside;
}
.full-menu > li > ul li.has-child ul li {
  border-bottom: 1px solid #dbdbde;
  border-top: 1px solid #fff;
}
.full-menu > li > ul li.has-child ul a {
  color: #1f2227;
}
.full-menu > li > ul li.has-child ul a:hover {
  background-color: #d3d3d3;
}
.full-menu > li.open li {
  position: relative;
}
.full-menu > li.open > ul {
  display: block;
}
.full-menu > li.open > ul li.has-child.open > ul {
  display: block;
}
.full-menu > li.open > ul li.has-child.open > a:after {
  content: "\f068";
}
.main-menu ul {
  display: none;
}
.tooltip {
  position: absolute;
  right: -25px;
  top: 0;
}
.tooltip .tooltip-marker {
  background: #fff;
  display: block;
  border-radius: 10px;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  cursor: pointer;
}
.tooltip .tooltip-text {
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
  opacity: 0;
  position: absolute;
  right: -70px;
  width: 150px;
  background: #fff;
  top: 35px;
  padding: 1em;
  font-size: 12px;
  z-index: 11;
}
.tooltip:hover .tooltip-text {
  display: block;
  opacity: 1;
}
.tooltip:hover .tooltip-text:before {
  content: '';
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  border-bottom: 10px solid #fff;
  position: absolute;
  right: 70px;
  top: -10px;
}
/* reused elements */
.hero-image {
  display: block;
}
a {
  color: #ce1126;
}
.btn {
  display: inline-block;
  background: #ce1126;
  color: #fff;
  text-decoration: none;
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
  padding: 1em 1.5em;
}
.btn:hover {
  background: #b20e20;
}
.btn.btn-yellow {
  background: #f7dc29;
  color: #000;
}
.btn.btn-yellow:hover {
  background: #f7bf29;
}
.btn.btn-pdf {
  padding: 1em 2.5em;
  position: relative;
}
.btn.btn-pdf:before {
  color: #ce1126;
  content: '\f1c1';
  font-family: 'FontAwesome';
  position: absolute;
  margin-top: -9px;
  left: 1em;
  top: 50%;
}
.expand-items {
  list-style: none outside;
  margin: 0;
  padding: 0;
}
.expand-items li > a {
  display: block;
  background: #e6e6e9;
  border-bottom: 1px solid #dbdbde;
  border-top: 1px solid #eeeef0;
  padding: 1em 2.5em;
  color: #231f20;
  position: relative;
  text-decoration: none;
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
.expand-items li > a.pdf:before {
  content: '\f1c1';
}
.expand-items li > a:before {
  font-family: 'FontAwesome';
  color: #ce1126;
  position: absolute;
  margin-top: -7px;
  left: 1em;
  top: 50%;
}
.expand-items li > a:after {
  font-family: 'FontAwesome';
  content: '\f067';
  color: #fff;
  position: absolute;
  top: 50%;
  right: 1em;
  margin-top: -7px;
}
.expand-items li > a:hover {
  background-color: #d3d3d3;
}
.expand-items li > a span {
  font-size: 0.8em;
  display: block;
}
.expand-items li.open > a:after {
  content: '\f068';
}
.expand-items li.open ul,
.expand-items li.open div {
  display: block;
}
.expand-items ul,
.expand-items div {
  display: none;
}
.expand-items ul.download-list {
  list-style: none outside;
  margin: 0;
  padding: 0;
}
.expand-items ul.download-list li a {
  background: #fff;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #eaf2ee;
  color: #ce1126;
}
.expand-items ul.download-list li a:after {
  content: '\f019';
  color: #d8d8dc;
}
.expand-items ul.download-list li a:hover {
  background-color: #f7f7f7;
}
.expand-items ul.download-list li a span {
  color: #231f20;
}
/* home */
.since-1954 img {
  float: left;
  margin-right: 15px;
}
.homepage-trio {
  font-size: 12px;
}
.homepage-trio h3 {
  margin: 0.5em 0;
  font-size: 1.33em;
}
.homepage-trio p {
  margin: 0.5em 0;
}
.homepage-trio ul {
  padding-left: 2em;
  list-style-type: square;
}
.homepage-trio ul li {
  margin-bottom: 0.5em;
}
.homepage-trio a {
  font-weight: bold;
  text-decoration: none;
}
.homepage-trio a:hover {
  text-decoration: underline;
}
.slideshow-wrapper {
  position: relative;
  padding-bottom: 3em;
}
.slideshow-wrapper .slick-prev,
.slideshow-wrapper .slick-next {
  position: absolute;
  top: 50%;
  margin-top: -10px;
  z-index: 3;
  display: none !important;
}
.slideshow-wrapper .slick-prev {
  left: 0;
}
.slideshow-wrapper .slick-next {
  right: 0;
}
.slideshow-wrapper .slick-dots {
  position: absolute;
  bottom: 1em;
  list-style: none outside;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%;
}
.slideshow-wrapper .slick-dots li {
  display: inline-block;
}
.slideshow-wrapper .genie-overlay {
  position: absolute;
  right: -150px;
  bottom: 3em;
  z-index: 2;
}
/* product details */
.product-support {
  position: absolute;
  left: 0;
  top: 0;
}
.product-support h2 {
  margin-top: 0;
  color: #ce1126;
}
.series-name-banner {
  padding: 1em 0;
  background: #ce1126;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  font-style: italic;
}
.series-name-banner a {
  color: #fff;
  text-decoration: none;
  font-size: 12px;
  float: right;
  font-weight: normal;
  font-style: normal;
}
.series-name-banner a .fa-print {
  color: #fff;
}
.series-name-banner a .fa-print:before {
  background: #fff;
  color: #ce1126;
  padding: 5px;
  border-radius: 1em;
  font-size: 20px;
}
.product-content-wrapper {
  margin-top: 2em;
}
.product-detail h1 {
  text-transform: uppercase;
  font-size: 44px;
  margin: 0;
}
.product-detail h2 {
  font-weight: normal;
}
.product-detail .model-former {
  font-size: 11px;
  display: block;
}
.product-intro {
  font-style: italic;
  font-weight: bold;
}
.product-features h2 {
  font-weight: bold;
  color: #ce1126;
}
.product-features ul {
  list-style: none outside;
  padding-left: 1.5em;
}
.product-features ul li:before {
  content: '\25A0';
  color: #ce1126;
  left: -1em;
  font-size: 0.75em;
  position: relative;
  line-height: 1em;
  max-height: 0;
  max-width: 0;
  top: -2px;
}
/* video page */
.video-player {
  position: relative;
}
.video-player iframe {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
.video-player.video-player-active {
  padding-bottom: 56.25%;
  margin-bottom: 2em;
}
/* support */
.support-area-grid .grid-25 {
  margin-bottom: 2em;
}
.support-area-grid h3 {
  background: #131418;
  color: #fff;
  font-size: 13px;
  font-weight: normal;
  padding: 1em;
  margin: 0;
}
.support-area-grid ul {
  list-style: none outside;
  margin: 0;
  padding: 0;
}
.support-area-grid ul li {
  border-bottom: 1px solid #fff;
}
.support-area-grid ul li a {
  background: #e6e6e9;
  display: block;
  color: #000;
  padding: 1em;
  text-decoration: none outside;
  position: relative;
}
.support-area-grid ul li a.pdf {
  padding: 1em 2.5em;
}
.support-area-grid ul li a.pdf:before {
  content: '\f1c1';
  font-family: 'FontAwesome';
  color: #ce1126;
  position: absolute;
  left: 1em;
  top: 1em;
}
.support-area-grid ul li a span {
  display: block;
  font-size: 11px;
}
.support-area-grid .detail {
  padding-left: 2.5em;
  position: relative;
  font-size: 11px;
}
.support-area-grid .detail:before {
  content: '\25A0';
  position: absolute;
  left: 1em;
  top: 0;
}
.support-area-grid .detail a {
  display: block;
  font-size: 13px;
}
/* footer */
.main-footer {
  background: #333;
  color: #fff;
  margin-top: 3em;
  font-size: 12px;
  padding: 3em 0;
}
.main-footer .copyright {
  color: #a4a6ab;
}
.main-footer a {
  color: #fff;
  text-decoration: none;
}
.main-footer a:hover {
  color: #ce1126;
}
.main-footer p {
  margin-top: 0;
}
.main-footer nav ul {
  list-style: none outside;
  margin: 0;
  padding: 0;
}
.main-footer nav li {
  display: inline-block;
  padding-left: 0.75em;
  padding-right: 0.5em;
  border-left: 1px solid #5b5557;
}
.main-footer nav li:first-child {
  border: none;
  padding-left: 0;
}
@media (max-width: 1023px) {
  .slideshow-wrapper .genie-overlay {
    display: none;
  }
}
@media (max-width: 935px) {
  .main-nav {
    min-height: 130px;
  }
  .main-nav .logo {
    background-size: contain;
    width: 200px;
    height: 88px;
  }
  .page-header nav .reliability-badge {
    display: none;
  }
}
@media (max-width: 830px) {
  .main-nav {
    min-height: 115px;
  }
  .main-nav .logo {
    background-size: contain;
    width: 170px;
    height: 75px;
  }
  .tooltip {
    display: none;
  }
}
@media (max-width: 767px) {
  .product-support {
    position: static;
    left: auto;
    top: auto;
  }
  .main-nav {
    min-height: 0;
  }
  .main-nav .logo {
    background-image: url('images/logo-mobile.png');
    width: 135px;
    height: 49px;
    position: static;
    float: left;
    padding: 16px 0;
  }
  .full-menu {
    padding: 22px 0 0 0;
    float: right;
  }
  .full-menu > li.video {
    margin-right: 1em;
  }
  .product-support h2 {
    margin-top: 1em;
    color: #000;
  }
}
@media (max-width: 730px) {
  .full-menu > li.video {
    display: none;
  }
  .full-menu > li.search .mobile-search {
    display: block;
    background: #ce1126;
    color: #fff;
  }
  .full-menu > li.search .mobile-search:after {
    font-family: 'FontAwesome';
    content: '\f002';
    display: inline-block;
    margin-left: 0.5em;
  }
  .full-menu > li.search form {
    display: none;
  }
  .page-header {
    background: #d3d2d7 none;
  }
  .page-header.search-open {
    position: relative;
  }
  .page-header.search-open .full-menu li.search {
    position: static;
  }
  .page-header.search-open .full-menu li.search .mobile-search:after {
    content: '\f00d';
  }
  .page-header.search-open .full-menu li.search form {
    position: absolute;
    top: 91px;
    display: block;
    z-index: 1;
    left: 0;
    background: #fff;
    width: 100%;
    zoom: 1;
  }
  .page-header.search-open .full-menu li.search form:before,
  .page-header.search-open .full-menu li.search form:after {
    content: "";
    display: table;
  }
  .page-header.search-open .full-menu li.search form:after {
    clear: both;
  }
  .page-header.search-open .full-menu li.search form .form-group {
    width: 90%;
    padding: 0;
    padding-top: 4px;
    padding-bottom: 4px;
  }
  .page-header.search-open .full-menu li.search form .form-group input {
    border: none;
    width: 100%;
    height: 28px;
    line-height: 28px;
  }
  .page-header.search-open .full-menu li.search form .form-group input:focus {
    border: none;
    outline: none;
  }
  .page-header.search-open .full-menu li.search form input[type=image] {
    position: absolute;
    right: 0;
    top: 0;
  }
}
@media (max-width: 480px) {
  div.video {
    width: 100%;
    clear: both;
  }
  .since-1954 img {
    float: none;
  }
  .full-menu {
    position: relative;
  }
  .full-menu > li {
    position: static;
  }
  .full-menu > li.support {
    display: none;
  }
  .full-menu > li.search .mobile-search span {
    display: none;
  }
  .full-menu > li.search .mobile-search:after {
    margin-left: 0;
  }
  .full-menu > li.open > ul {
    right: 0;
    top: 59px;
  }
  .page-header.search-open .full-menu li.search form {
    min-width: 270px;
    left: auto;
    right: 0;
  }
  .support-area-grid .mobile-grid-50 {
    width: 100%;
  }
}

/*# sourceMappingURL=maps/style.css.map */