<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="httpRedirection" type="Mvolo.HttpRedirection.HttpRedirectionConfigurationSection"/>
    <sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
        <section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
        <sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
          <section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="Everywhere"/>
          <section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
          <section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
          <section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
        </sectionGroup>
      </sectionGroup>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="DealerLocatorSourcePath" value="http://pc.wayne-dalton.com/partners"/>
    <add key="ConnectionMethod" value="Service"/>
<!-- <add key="ConnectionMethod" value="Mock"/> -->
    <add key="AppName" value="GenieCompany"/>
    <!--Used for LOCAL DEVELOPMENT COPY ONLY -->
		<add key="Environ" value="LOCAL"/>
    <add key="setup" value="true"/>

    <!--Not sure if I need this-->
    <add key="PilotRootPath" value="D:\www_domains\Pilot_GenieCompany\"/>
    <!--<add key="ProdRootPath" value="C:\www_domains\GenieCompany\"/>-->


    <!--Used for GenieCompany.aspx (Pages pulled from CMS)-->
    <!--This is to view Production CMS-->
    <add key="MODE" value="DEV"/>
    <!-- Below are the Dev connection strings -->
    <!--<add key="CMS_Connection_String" value="Data Source=sv-ohis-devsql1;Initial Catalog=CMSNET;uid=CMSNET_sp;password=25xr42ns" />
    <add key="GENIE_WEB_Connection_String" value="Data Source=sv-ohis-devsql1;Initial Catalog=www_geniecompany;user=www_geniecompany_sp;password=test" />
    <add key="ODC_WEB_Connection_String" value="Data Source=sv-ohis-devsql1;Initial Catalog=www_overheaddoor;user=www_overheaddoor_sp;password=test" />
    -->
    <!-- Below are the Prod connection strings -->
    <add key="CMS_Connection_String" value="Data Source=applicationssql;Initial Catalog=CMSNET;uid=cms;password=ha753951" />
    <add key="GENIE_WEB_Connection_String" value="Data Source=sv-ohis-devsql1;Initial Catalog=www_geniecompany;uid=www_geniecompany_sp2;password=test" />
    <add key="ODC_WEB_Connection_String" value="Data Source=sv-ohis-devsql1;Initial Catalog=www_overheaddoor;uid=odotnet;password=jd86jr52" />

    <add key="database" value="CMSNET"/>
    <add key="datasource" value="APPLICATIONSSQL" />
    <add key="userid" value="cms" />
    <add key="password" value="ha753951" />

    <!--Used for Warranty.aspx-->
    <add key="databaseGenie" value="www_geniecompany" />
    <add key="datasourceGenie" value="sv-ohis-devsql1"/>
    <add key="useridGenie" value="www_geniecompany_sp"/>
    <add key="passwordGenie" value="test"/>

    <!--Used for Jobs.aspx-->
    <add key="databaseJobs" value="www_overheaddoor"/>
    <add key="datasourceJobs" value="sv-ohis-devsql1"/>
    <add key="useridJobs" value="odotnet"/>
    <add key="passwordJobs" value="jd86jr52"/>

    <!--Used for RequestInfo Form-->
    <add key="timeout" value="15"/>
    <add key="smtpAdmin" value="website@geniecompany.com"/>
    <add key="GDEmAddr" value="website@overheaddoor.com"/>
    <add key="GDOInfoEmAddr" value="website@overheaddoor.com"/>
    <add key="SDEmAddr" value="website@overheaddoor.com"/>
    <add key="RDInfoEmAddr" value="website@overheaddoor.com"/>
    <add key="ComOpInfoEmAddr" value="website@overheaddoor.com"/>
    <add key="reqInfoEmAddr" value="website@overheaddoor.com"/>
    <add key="smtpserver" value="mail.overheaddoor.com"/>
    <add key="ready" value="true"/>


  </appSettings>
  <system.web>
    <customErrors mode="On">
      <error statusCode="404"
             redirect="~/error-messages/404.aspx"/>
      <error statusCode="500"
             redirect="~/error-messages/error.aspx"/>
    </customErrors>
    <authentication mode="Forms"/>
    <httpModules>
      <add name="HttpRedirectionModule" type="Mvolo.HttpRedirection.HttpRedirectionModule"/>
      <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    </httpModules>
    <compilation debug="true" defaultLanguage="c#" targetFramework="4.0" batch="false">
      <assemblies>
        <add assembly="ODC, Version=1.0.0.3, Culture=neutral, PublicKeyToken=A7E2BFBB28B98559"/>
        <add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </controls>
    </pages>
    <httpHandlers>
      <remove verb="*" path="*.asmx"/>
      <add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add verb="GET,HEAD" path="ScriptResource.axd" validate="false" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    </httpHandlers>
  </system.web>
  <system.net>
    <mailSettings>
      <smtp from="website@overheaddoor.com">
        <network host="mail.overheaddoor.com" password="" userName=""/>
      </smtp>
    </mailSettings>
  </system.net>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="ScriptModule"/>
      <add name="HttpRedirectionModule" type="Mvolo.HttpRedirection.HttpRedirectionModule"/>
      <add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    </modules>
    <defaultDocument>
      <files>
        <clear/>
        <add value="Default.asp"/>
        <add value="Default.htm"/>
        <add value="index.htm"/>
        <add value="index.html"/>
        <add value="iisstart.htm"/>
        <add value="default.aspx"/>
      </files>
    </defaultDocument>
    <handlers>
      <remove name="WebServiceHandlerFactory-Integrated"/>
      <remove name="ScriptHandlerFactory"/>
      <remove name="ScriptHandlerFactoryAppServices"/>
      <remove name="ScriptResource"/>
      <add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="ScriptResource" verb="GET,HEAD" path="ScriptResource.axd" preCondition="integratedMode" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    </handlers>
  </system.webServer>
  <httpRedirection enabled="false" appendOriginalUrl="false">
    <rules>
     <!-- Permanently redirect all requests to multiple product pages into a single product catalog with querystring 
      <add name="ProductCatalog_NoQuery" urlPart="PathAndQuery" matchUrl="^{AppPath}/products/([^/]+).aspx$" redirectUrl="{AppPath}/products/catalog.aspx?productId=$1" redirectType="Permanent"/>
      -->
      <add name="ChainLift" urlPart="PathAndQuery" 
           matchUrl="^{AppPath}/docs/ChainLift([^/]+).pdf$" 
           redirectUrl="{AppPath}/garage-door-openers/pro-line_chainlift-beltlift.aspx" redirectType="Permanent"/>
      <add name="IntelliG1000" urlPart="PathAndQuery"
           matchUrl="^{AppPath}/docs/IntelliG-10([^/]+).pdf$"
           redirectUrl="{AppPath}/garage-door-openers/pro-line_intellig-1000.aspx" redirectType="Permanent"/>
      <add name="IntelliG1200" urlPart="PathAndQuery"
           matchUrl="^{AppPath}/docs/IntelliG-12([^/]+).pdf$"
           redirectUrl="{AppPath}/garage-door-openers/pro-line_intellig-1200.aspx" redirectType="Permanent"/>
      <add name="ReliaG" urlPart="PathAndQuery"
           matchUrl="^{AppPath}/docs/ReliaG([^/]+).pdf$"
           redirectUrl="{AppPath}/garage-door-openers/pro-line_reliag-800.aspx" redirectType="Permanent"/>
      <add name="TriloG12" urlPart="PathAndQuery"
           matchUrl="^{AppPath}/docs/TriloG-12([^/]+).pdf$"
           redirectUrl="{AppPath}/garage-door-openers/pro-line_trilog-1200.aspx" redirectType="Permanent"/>
      <add name="TriloG15" urlPart="PathAndQuery"
          matchUrl="^{AppPath}/docs/TriloG-15([^/]+).pdf$"
          redirectUrl="{AppPath}/garage-door-openers/pro-line_trilog-1500.aspx" redirectType="Permanent"/>
      <add name="DIY_Other" urlPart="PathAndQuery"
          matchUrl="^{AppPath}/DIY_Other.aspx"
          redirectUrl="{AppPath}/garage-door-openers/retail_std-features.aspx" redirectType="Permanent"/>
      <add name="DIProduct" urlPart="PathAndQuery"
          matchUrl="^{AppPath}/DIProduct.aspx$"
          redirectUrl="{AppPath}/garage-door-openers/pro-line.aspx" redirectType="Permanent"/>
      <add name="DIY" urlPart="PathAndQuery"
          matchUrl="^{AppPath}/DIY_([^/]+).aspx$"
          redirectUrl="{AppPath}/garage-door-openers/retail.aspx" redirectType="Permanent"/>
      <add name="Locator1" urlPart="PathAndQuery"
          matchUrl="^{AppPath}/FindaDealer.aspx"
          redirectUrl="{AppPath}/locate-genie.aspx" redirectType="Permanent"/>
      <add name="Locator2" urlPart="PathAndQuery"
          matchUrl="^{AppPath}/Locator.aspx"
          redirectUrl="{AppPath}/locate-genie.aspx" redirectType="Permanent"/>
      <add name="Info" urlPart="PathAndQuery"
          matchUrl="^{AppPath}/RequestInfo.aspx"
          redirectUrl="{AppPath}/contact.aspx" redirectType="Permanent"/>
      <add name="Warranty" urlPart="PathAndQuery"
         matchUrl="^{AppPath}/Warranty.aspx"
         redirectUrl="{AppPath}/contact.aspx" redirectType="Permanent"/>
      <add name="EmailaPage" urlPart="PathAndQuery"
         matchUrl="^{AppPath}/EmailAPage.aspx"
         redirectUrl="{AppPath}/contact.aspx" redirectType="Permanent"/>
      <add name="Jobs" urlPart="PathAndQuery"
         matchUrl="^{AppPath}/Jobs.aspx"
         redirectUrl="{AppPath}/contact.aspx" redirectType="Permanent"/>
      <add name="News" urlPart="PathAndQuery"
         matchUrl="^{AppPath}/docs/Genie-News.pdf$"
         redirectUrl="{AppPath}/news.aspx" redirectType="Permanent"/>
      <add name="ScrewSP" urlPart="PathAndQuery"
        matchUrl="^{AppPath}/docs/([^/ Screw ]+).pdf$"
        redirectUrl="{AppPath}/garage-door-openers/retail_screwdrive.aspx" redirectType="Permanent"/>
      <add name="BeltLift" urlPart="PathAndQuery"
         matchUrl="^{AppPath}/docs/BeltLift([^/]+).pdf$"
         redirectUrl="{AppPath}/garage-door-openers/retail_beltlift.aspx" redirectType="Permanent"/>
      <add name="ChainGlide" urlPart="PathAndQuery"
         matchUrl="^{AppPath}/docs/.CHAINGLIDE([^/]+).pdf$"
         redirectUrl="{AppPath}/garage-door-openers/retail_chainlift.aspx" redirectType="Permanent"/>
      <add name="Excel" urlPart="PathAndQuery"
         matchUrl="^{AppPath}/docs/.EXCELERATOR([^/]+).pdf$"
         redirectUrl="{AppPath}/garage-door-openers/retail_excelerator.aspx" redirectType="Permanent"/>
      <add name="PowerLift" urlPart="PathAndQuery"
        matchUrl="^{AppPath}/docs/HD_PowerLift([^/]+).pdf$"
        redirectUrl="{AppPath}/garage-door-openers/retail_hd_powerlift.aspx" redirectType="Permanent"/>
      <add name="PowerLift2" urlPart="PathAndQuery"
        matchUrl="^{AppPath}/docs/PowerLift900([^/]+).pdf$"
        redirectUrl="{AppPath}/garage-door-openers/retail_hd_powerlift.aspx" redirectType="Permanent"/>
      <add name="PowerLift3" urlPart="PathAndQuery"
        matchUrl="^{AppPath}/docs/HomeDepot_PowerLiftPlusExcelerator_English.pdf$"
        redirectUrl="{AppPath}/garage-door-openers/retail_hd_powerlift-excelerator.aspx" redirectType="Permanent"/>
      <add name="SlientMax" urlPart="PathAndQuery"
       matchUrl="^{AppPath}/docs/.SilentMax1000([^/]+).pdf$"
       redirectUrl="{AppPath}/garage-door-openers/retail_hd_silentmax.aspx" redirectType="Permanent"/>
      <add name="QuietLift" urlPart="PathAndQuery"
       matchUrl="^{AppPath}/docs/.QuietLift([^/]+).pdf$"
       redirectUrl="{AppPath}/garage-door-openers/retail_quietlift-800.aspx" redirectType="Permanent"/>
      <add name="DirectLift" urlPart="PathAndQuery"
       matchUrl="^{AppPath}/docs/Lws_directLift([^/]+).pdf$"
       redirectUrl="{AppPath}/garage-door-openers/retail_sears_directlift.aspx" redirectType="Permanent"/>
      <add name="SiteMap" urlPart="PathAndQuery"
       matchUrl="^{AppPath}/Sitemap.aspx"
       redirectUrl="{AppPath}/site-map.aspx" redirectType="Permanent"/>
      <add name="ACpoweredChain" urlPart="PathAndQuery"
       matchUrl="^{AppPath}/docs/ACpoweredChainDrivenGDO.pdf"
       redirectUrl="{AppPath}/support.aspx" redirectType="Permanent"/>
      <add name="GWKP" urlPart="PathAndQuery"
       matchUrl="^{AppPath}/docs/GWKP_Program_([^/]+).pdf$"
       redirectUrl="{AppPath}/support.aspx" redirectType="Permanent"/>
      <add name="600N" urlPart="PathAndQuery"
       matchUrl="^{AppPath}/docs/installation-instruction-G-600N([^/]+).pdf$"
       redirectUrl="{AppPath}/support.aspx" redirectType="Permanent"/>
      <add name="PROMAX" urlPart="PathAndQuery"
      matchUrl="^{AppPath}/docs/PROMAX-STEALTH([^/]+).pdf$"
      redirectUrl="{AppPath}/support.aspx" redirectType="Permanent"/>
      <add name="Remote" urlPart="PathAndQuery"
      matchUrl="^{AppPath}/docs/remote-transmitter-programming-instructions.pdf$"
      redirectUrl="{AppPath}/support.aspx" redirectType="Permanent"/>
      <add name="Wireless" urlPart="PathAndQuery"
      matchUrl="^{AppPath}/docs/Wireless([^/]+).pdf$"
      redirectUrl="{AppPath}/support.aspx" redirectType="Permanent"/>
      <add name="AssInst" urlPart="PathAndQuery"
      matchUrl="^{AppPath}/AssemblyInstructions/INDEX.html"
      redirectUrl="{AppPath}/support_install-faq.aspx" redirectType="Permanent"/>
      <add name="BeltLftW" urlPart="PathAndQuery"
      matchUrl="^{AppPath}/docs/BeltLift_Warranty.pdf$"
      redirectUrl="{AppPath}/support_warranty.aspx#warranty-faq" redirectType="Permanent"/>
     </rules>
  </httpRedirection>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="ServiceBehaviour" name="DealerLocatorRestService">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="DealerLocatorRestService"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehaviour">
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>

</configuration>